Repository gelilaa/LOCAL-TAPAS, pull requests merged in 2020-08, with the labels that each got.

#7 handler for add-item
  index.html
  scripts/handlers/add-item.js
  style.css
Labels: Handlers

#10 Added populate list function
  index.html
  scripts/handlers/populate-list.js
Labels: Handlers

#11 Create listener.js
  scripts/listeners/listener.js
Labels: listener

#12 update readme
  README.md
  images/TAPAS.PNG
Labels: documentation
